body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6f2; /* ライトピンク */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #ffffff; /* ホワイト */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #ff6699; /* ピンク */
}

.container-section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6699; /* ピンク */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #ff4d88; /* ダークピンク */
}

#setup-container, #game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.player-card {
    width: 120px;
    height: 180px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.player-name {
    font-size: 16px;
    text-align: center;
}

.delete-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff4d88; /* ダークピンク */
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 追加した役職に応じたアイコン */
.role-icon {
    display: none; /* アイコン非表示 */
}

